// Navigation code here
.navigation{
    margin: 0 auto;
    width: 900px;
    background-color: rgb(231, 231, 231);
    height: 9vh;
    text-align: center;
    border-bottom: 2px solid lightgray;
    .logo{
        padding: 2% 0;
        h1{
            font-size: 4rem;
        }//this closes the h1
    }//this closes the .logo
    nav{
        a{
            font-size: 2rem;
            color: black;
            text-decoration: none;
            padding: 0 2%;
        }
    }
}//this closes the .navigation