// Navigation code here
.navigation{
    margin: 0 auto;
    width: 900px;
    background-color: @wild-sand;
    height: 9vh;
    text-align: center;
    border-bottom: 2px solid @sea-shell;
    .logo{
        padding: 2% 0;
        h1{
            font-size: 4rem;
        }//this closes the h1
    }//this closes the .logo
    nav{
        a{
            .small-font();
            color: @river-bend;
            text-decoration: none;
            padding: 0 2%;
        }
    }
}//this closes the .navigation